body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#main {
    margin-top: 10px;
    background: #f3f3f3;
    border-radius: 1px;
    box-shadow: 1px 2px 3px #ccc;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

#result {
    font: 100 18px Arial;
    margin-top: 20px;
    background: #f3f3f3;
    border-radius: 1px;
    box-shadow: 1px 2px 3px #ccc;
    border: 1px solid #e5e5e5;
    padding: 20px 10px;
    display: none;
}

input[type='submit'] {
    outline: none;
    background: none;
    border: 2px solid #0063F7;
    border-radius: 2px;
    padding: 7px 20px;
    margin: 10px 0;
    font: 400 18px Arial;
    color: #0063F7;
}

    input[type='submit']:hover {
        background: #0063F7;
        color: white;
    }