body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


#main {
    margin-top: 10px;
    background: #f3f3f3;
    border-radius: 1px;
    box-shadow: 1px 2px 3px #ccc;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

#result {
    font: 100 18px Arial;
    margin-top: 20px;
    background: #f3f3f3;
    border-radius: 1px;
    box-shadow: 1px 2px 3px #ccc;
    border: 1px solid #e5e5e5;
    padding: 20px 10px;
}

#query {
    width: 50%;
    height: 45px;
    font: 200 22px Arial; 
    margin-left: 25%;
    color: #287EFF;
}

input[type='button'] {
    outline: none;
    width: 20%;
    background: none;
    border: 2px solid #5397FD;
    border-radius: 2px;
    padding: 7px 20px;
    margin: 10px 0 0 40%;
    font: 400 18px Arial;
    color: #5397FD;
}

input[type='button']:hover {
    background: #5397FD;
    color: white;
}

#loadingImg {
    width: 6%;
    margin-left: 47%;
    margin-top: 50px;
}

h1 {
    font: 400 40px Arial;
    color: #5397FD;
}