
@{
    ViewBag.Title = "Home Page";
}

<div id="main">
    @using (Html.BeginForm())
    {
        @Html.TextBox("query",null,new {@class="form-control", autocomplete="off"})
        <input type="submit" value="НАЙТИ"/>
    }
</div>
<div id="result">
    @ViewBag.Message
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#result").text().trim()!=="") {
            $("#result").fadeIn(2000);
        }
        

    });
</script>